##
## Velocity Template for expiring password view
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## ldapResponseContext - context with LDAP state (if using native LDAP)
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#springMessageText("idp.title", "Web Login Service")</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.ncsu.edu/brand-assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/style_301.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="https://www.ncsu.edu/favicon.ico">
    <meta http-equiv="refresh" content="20;url=$flowExecutionUrl&_eventId_proceed=1">
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <div class="bs-header">
      <div class="container heading-content">
       <header role="banner">
        <div class="col-md-12">
          <img class="logo-image" src="#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")">
          <h1 class="shib-title">Shibboleth Login Service</h1>
        </div>
       </header>
      </div>
    </div>

    <div class="container main-content" id="content">
      <main role="main">
        <div class="col-md-12">
          <h2 class="shib-heading">#springMessageText("idp.login.expiringSoon", "Your password will be expiring soon!")</h2>

          <p>
## Disable this text ... #springMessageText("idp.login.changePassword", "To create a new password now, go to")
          #springMessageText("idp.login.proceedBegin", "Your login will proceed in 20 seconds or you may click")
          <strong><a href="$flowExecutionUrl&_eventId_proceed=1">#springMessageText("idp.login.proceedHere", "here")</a></strong>
          #springMessageText("idp.login.proceedEnd", "to continue")
          </p>

          #springMessageText("idp.login.changeNow", "To change your password for your next login, ...")
        </div>
      </main>
    </div>

    <footer role="contentinfo">
      <div class="group page-footer">
        <div class="col-md-12">
          <div class="shib-footer">
            #springMessageText("idp.footer", "Insert your footer text here.")
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below) -->
    <script src="https://cdn.ncsu.edu/brand-assets/bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>
