##
## Velocity Template for logout flow's starting view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## logoutContext - context with SPSession details for logout operation
## multiRPContext - context with RelyingPartyContexts and possibly SP UI information from the metadata
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #if ( $logoutContext and !$logoutContext.getSessionMap().isEmpty() )
        <meta http-equiv="refresh" content="10;url=$flowExecutionUrl&_eventId=propagate">
    #end
    <title>#springMessageText("idp.title", "Web Login Service")</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.ncsu.edu/brand-assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.ncsu.edu/shibboleth/css/style_405.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="https://www.ncsu.edu/favicon.ico">
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <div class="bs-header">
      <div class="container heading-content">
       <header role="banner">
         <div class="row">
           <div class="col-md-12">
             <img class="logo-image" src="#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")">
             <h1 class="shib-title">Shibboleth Login Service</h1>
           </div>
         </div>
       </header>
      </div>
    </div>

    <div class="container main-content" id="content">
      <div class="row">
        <main role="main">
          <div class="col-sm-5 main-side">

            <h2 class="shib-heading main-heading">You have successfully logged out.</h2>
            
            #if ( $logoutContext and !$logoutContext.getSessionMap().isEmpty() )
                <p>#springMessageText("idp.logout.ask", "Would you like to attempt to log out of all services accessed during your session? Please select <strong>Yes</strong> or <strong>No</strong> to ensure the logout operation completes, or wait a few seconds for Yes.")</p>
                <br>

                <form id="propagate_form" method="POST" action="$flowExecutionUrl">
                    <button id="propagate_yes" type="submit" name="_eventId" value="propagate">Yes</button>
                    <button id="propagate_no" type="submit" name="_eventId" value="end">No</button>
                </form>

                <br>
                <p>#springMessageText("idp.logout.contactServices", "If you proceed, the system will attempt to contact the following services:")</p>
                <ol>
                #foreach ($sp in $logoutContext.getSessionMap().keySet())
                    #set ($rpCtx = $multiRPContext.getRelyingPartyContextById($sp))
                    #if ($rpCtx)
                      #set ($rpUIContext = $rpCtx.getSubcontext("net.shibboleth.idp.ui.context.RelyingPartyUIContext"))
                    #end
                    #if ($rpUIContext and $rpUIContext.getServiceName())
                      <li>$encoder.encodeForHTML($rpUIContext.getServiceName())</li>
                    #else
                      <li>$encoder.encodeForHTML($sp)</li>
                    #end
                #end
                </ol>
            #else
                <p><strong>#springMessageText("idp.logout.complete", "The logout operation is complete, and no other services appear to have been accessed during this session.")</strong></p>
                <!-- Complete the flow by adding a hidden iframe. -->
                <iframe style="display:none" src="$flowExecutionUrl&_eventId=proceed"></iframe>
            #end

            <h2 class="shib-heading">Need Help?</h2>
            <ul>
              <li>
                Forgot your <a href="https://oit.ncsu.edu/my-it/unity-credentials/">Unity ID or Password?</a>
              </li>
              <!-- For OIM Later...
              <li>
                Need to <a href="#">Reset your password?</a>
              </li>
              -->
              <li>
                For help with password resets or login issues, contact the
                NC State Help Desk at 919.515.HELP (4357) or
                <a href="https://help.ncsu.edu/">help.ncsu.edu</a>.
              </li>
            </ul>

          </div>
        </main>
        <aside role="complementary">
          <div class="col-sm-7">
            #include( "sidebar.html" )
          </div>
        </aside>
      </div>
    </div>

    <footer class="container" role="contentinfo">
      <div class="group page-footer">
        <div class="row">
          <div class="col-md-12">
            <div class="shib-footer">
              #springMessageText("idp.footer", "Insert your footer text here.")
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below) -->
    <script src="https://cdn.ncsu.edu/brand-assets/bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>
