
        <div class="alert brand-gray25 bordered">
           <p>
             <b>ATTENTION</b>: Welcome to the new look of the Shibboleth
             login service!  For more information about this change,
             <a href="#">click here</a>.
           </p>
           <p>
             To protect your privacy, <b>completely exit your web browser</b>
             when finished.
           </p>
           <p>
             Remember that NC State personnel will NEVER ask you to
             reveal personal information, such as passwords or other
             restricted data, by email, phone, text, or other means of
             communication. If you receive such a message or have replied
             to one, please report it to
             <a href="mailto:phishing@ncsu.edu">phishing@ncsu.edu</a>.
           </p>
        </div>

        <h3>Need help?</h3>
        <ul>
        <li>
          Forgot your <a href="https://oit.ncsu.edu/my-it/unity-credentials/">Unity ID or Password?</a>
        </li>
        <!-- For OIM Later...
        <li>
          Need to <a href="#">Reset your password?</a>
        </li>
        -->
        <li>
          For help with password resets or login issues, contact the
          NC State Help Desk at 919-515-HELP or
          <a href="mailto:help@ncsu.edu">help@ncsu.edu</a>.
        </li>
        </ul>

