           <div class="panel panel-blue">
             <div class="panel-heading">
               <strong>PROTECT THE PACK!</strong>
             </div>
             <div class="panel-body">
               Enroll in two-factor authentication (2FA) to increase the
               security of your online university accounts. To learn
               more, visit <a href="https://go.ncsu.edu/2fa">Two-Factor 
               Authentication at NC State</a>.
             </div>
           </div>

           <h2 class="shib-heading">Do Not Bookmark This Page</h2>
           <p>
             This login screen authenticates your Unity ID and password, 
             and then redirects you back to the service you came from. 
             If you bookmark this page, there is no way to tell which 
             service to send you back to and will display an error. 
             Instead, bookmark the web service or application you want 
             to access (e.g., mypack.ncsu.edu). 
           </p>

           <h2 class="shib-heading">Keep Your Account Secure</h2>
           <p>
             To protect your privacy, <b>completely exit your web browser</b>
             when finished.
           </p>
           <p>
             Remember that NC State personnel will NEVER ask you to
             reveal personal information, such as passwords or other
             restricted data, by email, phone, text, or other means of
             communication. If you receive such a message or have replied
             to one, please report it to
             <a href="https://help.ncsu.edu/">help.ncsu.edu</a>.
           </p>

