
        <div class="alert brand-gray25 bordered">
           <p>
             <b>ATTENTION</b>: Welcome to the new look of the Shibboleth
             login service!  For more information about this change,
             please review the 
             <a href="https://sysnews.ncsu.edu/">SysNews
             announcement</a>.
           </p>

           <h4 style="margin-top: 14pt;">What is Shibboleth?</h4>
           <p>
             The Shibboleth System is a standards based, open source
             software package for web single sign-on across or within
             organizational boundaries. More information can be found on
             our 
             <a href="https://oit.ncsu.edu/campus-it/identity-management/shibboleth/" target="oit">Shibboleth at NC State page</a>.
           </p>

           <h4 style="margin-top: 14pt;">Do Not Bookmark This Page</h4>
           <p>
             Shibboleth works by authenticating your Unity ID and
             password, and then redirecting you back to the service you
             came from. If you bookmark this page, Shibboleth won't know
             which service to send you back to, and will display an
             error.
           </p>

           <h4 style="margin-top: 14pt;">Keep Your Account Secure</h4>
           <p>
             To protect your privacy, <b>completely exit your web browser</b>
             when finished.
           </p>
           <p>
             Remember that NC State personnel will NEVER ask you to
             reveal personal information, such as passwords or other
             restricted data, by email, phone, text, or other means of
             communication. If you receive such a message or have replied
             to one, please report it to
             <a href="mailto:help@ncsu.edu">help@ncsu.edu</a>.
           </p>
        </div>

        <h3>Need help?</h3>
        <ul>
        <li>
          Forgot your <a href="https://oit.ncsu.edu/my-it/unity-credentials/">Unity ID or Password?</a>
        </li>
        <!-- For OIM Later...
        <li>
          Need to <a href="#">Reset your password?</a>
        </li>
        -->
        <li>
          For help with password resets or login issues, contact the
          NC State Help Desk at 919-515-HELP (4357) or
          <a href="mailto:help@ncsu.edu">help@ncsu.edu</a>.
        </li>
        </ul>

